<h1>ALERTA!!!  ALERTA!!!  ALERTA!!!</h1>
<h2>Notificación de AQUA CHECK POOL</h2>
<p>Hay parámetros de la piscina '<%= @pool.name %>' que presentan valores críticos.</p>
<p>
    <code>
        <% @errors.each do |error| %>
            <%= error %> <br>
        <% end %>
    </code>
</p>
<p>¡Por favor, atienda los parámetros cuanto antes!</p>
