<h1>Normativa</h1>
<p>El pasado miércoles 24 de mayo tuvo lugar una jornada de trabajo en Delegación Provincial de Salud,
donde se presentó la “GUÍA DE AUTOCONTROL DE PISCINAS EN ANDALUCÍA” y se comunicaron los
cambios legislativos actualmente en marcha en nuestra comunidad.
Actualmente en Andalucía permanecen vigentes dos normas:
- Decreto 23/1999, de 23 de Febrero, por el que se aprueba el Reglamento Técnico Sanitario de
las piscinas de uso colectivo, sólo aplicable a nivel autonómico. Este Decreto sigue vigente,
aunque muchos aspectos son contradictorios tras la publicación en 2013 de:
- Real Decreto 742/2013, de 27 de septiembre, por el que se establecen los criterios técnicosanitarios
de las piscinas, aplicable a nivel nacional.
Por tanto, se está comenzando a elaborar un borrador con un Nuevo Decreto Autonómico
que unifique los criterios que así lo requieran, además de incluir nuevas decisiones en
todos los aspectos: infraestructuras, formación, laboratorios y parámetros de análisis,
ámbito de aplicación, etc.<br> 
Para ello, se tendrán en cuenta las aportaciones del ciudadano:<br>
aportacionesdecretopiscinas.csalud@juntadeandalucia.es</p>
