<h1>Qué parámetros del agua de la piscina debemos controlar?</h1>
<p>
Para el mantenimiento de la piscina y que esté en el mejor estado posible es importante conocer qué parámetros del agua debemos medir de forma periódica para realizar los ajustes necesarios en caso de no obtener los valores correctos. El agua se altera fácilmente por efecto de las condiciones meteorológicas, uso continuado, estado del filtro, etc.
Aquí te explicamos cuáles son los principales parámetros del agua que se recomienda medir, por qué, qué resultado es el correcto y como corregir las desviaciones.
<h2>Cloro</h2>
El cloro es el principal desinfectante utilizado en el mantenimiento de la piscina. Lo que hace básicamente es eliminar mediante oxidación las bacterias y otras materias orgánicas existentes en el agua. Al añadir el cloro al agua se produce una reacción química que nos dará el ácido hipocloroso, que es el producto realmente desinfectante.
A la hora de medir la concentración de cloro es importante distinguir entre las diferentes formas activas del cloro presentes en el agua ya que no todas son igual de beneficiosas para la desinfección:
Los medidores de cloro suelen medir:
1) El cloro total. Mide la concentración total de cloro tanto en su forma desinfectante como en su forma degrada. Por sí misma, no es una medida de gran utilidad. En todo caso, en condiciones normales de correcto funcionamiento, debería tener un valor alrededor de 1,5 ppm (partes por millón).
2) El cloro libre. Mide la concentración del cloro útil, funcionando correctamente, en condiciones normales de pH. Debería estar entre 1,0 y 2,0 ppm (partes por millón)
3) El cloro residual o combinado. Mide la concentración de las cloroaminas, es decir, la parte del cloro que ya no hace efecto desinfectante. Su valor máximo debería ser 0,2 ppm (partes por millón).
La suma de cloro libre más cloro residual es el cloro total. Algunos aparatos miden el cloro total y uno de los otros dos. Por diferencia, obtendríamos el tercero.
<h2>pH</h2>
Es un valor que indica si una sustancia es ácida o básica. En el caso del agua de piscina el pH debe oscilar entre valores de 7,2 y 7,6. Cuando se altera y no corresponde a estos valores puede producir problemas como enturbiar el agua, disminuir el poder desinfectante de productos clorados o irritaciones a los bañistas, es decir, que es uno de los parámetros del agua que no hay que descuidar.
Si tenemos el nivel pH alto debemos bajarlo con un Minorador de pH (granulado o líquido) en la dosificación indicada en el producto.
Si tenemos un nivel pH bajo debemos subirlo con un Incrementador de pH (granulado o líquido) en la dosificación indicada en el producto.
</p>
